.accountNav {
  background: var(--gradient-circle);
  background-color: var(--color-medium);
  box-shadow: 0px 10px 20px black, 0px -10px 20px black;
  padding: 10px 0;

  .accountNavList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    .accountNavLink {
      width: 6rem;
      text-decoration: none;
      color: var(--color-light);
      border-radius: 3px;
      padding: 6px 20px;
      transition: all 0.6s ease;

      &:hover {
        background: linear-gradient(to bottom, rgba(220, 20, 60, 0), rgba(0, 0, 0, 0.71));
      }
    }

    .admin_link {
      color: var(--color-secondary);
    }

    .activeLink {
      font-weight: bold;
      text-shadow: 3px 3px 3px crimson;
      color: var(--color-prime);
      background: linear-gradient(to bottom, rgba(78, 6, 20, 0), rgba(220, 20, 60, 0.651));

      &:hover {
        color: var(--color-light);
      }
    }
  }
}

@media (max-width: 800px) {
  .accountNavList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;

    .accountNavLink {
      font-size: 14px;
      padding: 8px 12px;
    }
  }

  .admin_link {
    grid-column: span 2;
    text-align: center;
    padding: 10px;
  }
}
