.controls {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.switchView_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio {
  display: none;
}

.icon {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease,
    height 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
}

.icon:hover {
  background-color: #f0f0f0;
  outline: 1px solid crimson;
}

.icon:focus {
  background-color: #ddd;
  outline: 1px solid crimson;
}

.radio:checked + .icon {
  background-color: crimson;
}

.radio:checked + .icon:hover {
  background-color: darkred;
}
