.h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  max-width: 90%;
  padding: 1rem 0;
  flex-wrap: wrap;

  .filterAndSort {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .switchView_container {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    .radio_container {
      position: relative;

      .radio {
        display: none;
      }

      .icon {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.4rem;
        height: 1.4rem;

        &:hover {
          background-color: var(--color-mediumDark);
        }

        &:focus {
          background-color: var(--color-mediumDark);
          outline: 1px solid crimson;
        }
      }

      .radio:checked + .icon {
        color: crimson;
      }
    }
  }
}
