.h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  max-width: 90%;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.filterAndSort {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* globale styles für alle Select Dropdowns in der AccommodationList*/
.controlsSelect {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  font-size: 1rem;
  color: #fff;
  padding: 8px;
  border: 1px solid var(--color-mediumDark);
  border-radius: none;
  cursor: pointer;
  background-color: transparent;
}
.controlsSelect:hover {
  background-color: black;
}
.controlsSelect:focus {
  outline: none;
}
.controlsSelect > option {
  background-color: rgb(0, 0, 0);
  border: 1px solid var(--color-mediumDark);
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: 0;
  padding-block-end: 0px;
  padding-block-start: 0px;
  padding-inline-end: 0px;
  padding-inline-start: 0px;
  border-image-width: 0px;
  border-radius: none;
}
.controlsSelect:focus > option:hover {
  background-color: #242424;
}
.controlsSelect:focus > option:checked {
  background-color: #590202 !important;
}

.switchView_container {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  .radio_container {
    position: relative;

    .radio {
      display: none;
    }

    .icon {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.4rem;
      height: 1.4rem;

      &:hover {
        background-color: var(--color-mediumDark);
      }

      &:focus {
        background-color: var(--color-mediumDark);
        outline: 1px solid crimson;
      }
    }

    .radio:checked + .icon {
      color: crimson;
    }
  }
}
