.deleteMessageContainer {
  color: var(--color-mlight);
  background: linear-gradient(135deg, #2c2c2c, #000000de);
  border: 1px solid var(--color-mediumDark);
  border-radius: 8px;
  box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.823);
  padding: 1rem;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.deleteMessage {
  text-align: center;
  line-height: 2rem;
}
