.cardContainer_special {
  position: relative;
}

.cardButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 0.2rem;
  padding: 0.2rem;
  align-self: start;
}
@media (max-width: 600px) {
  .cardButtonContainer {
    align-self: end;
  }
}

.listingsButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 2rem;
  aspect-ratio: 1;
  .buttonIcon {
    color: var(--color-light);
    width: 1.2rem;
  }
  /* &:hover .buttonIcon {
    color: crimson;
  } */
}
.buttonIcon {
  color: white;
}
.deleteMessageContainer {
  background-color: rgb(60, 60, 60);
  border-radius: 8px;
  padding: 2rem;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.deleteMessage {
  line-height: 2rem;
}
