.filter_container {
  font-size: clamp(0.8rem, 0.3684rem + 0.5263vw, 1rem);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  gap: 1rem;
}
.filter_item {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.filterSelect {
  width: 4rem;
}
