.searchbar {
  --height: 50px;
  width: 90vw;
  height: var(--height);
  border-radius: 8px;
  border: solid var(--color-mediumDark) 1px;
  background: var(--gradient-circle), var(--color-mediumDark);
  box-shadow: inset 0 3px 3px black, inset 0 -3px 3px black, 0 6px 20px black, 0 6px 20px black;
  position: absolute;
  top: calc(var(--height) / -2);
  left: 5vw; /* Centers the component (100vw - 70vw) / 2 = 15vw */

  button {
    width: 12rem;
  }
}

.searchbarForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.3em;

  button {
    width: 100%;
    height: 100%;
    padding: 0.4em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  label {
    margin-left: 8px;
  }
  input {
    height: 100%;
    margin-left: 8px;
  }
  select {
    margin-left: 8px;
  }
}

.searchbarLabel {
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--input-height);
  aspect-ratio: 1;
}

@media (max-width: 968px) {
  .searchbar {
    width: 85vw; /* Changed from max-width: 20vw */
    min-width: unset; /* entfernt min width */
    left: 7.5vw; /* Center searchbar mit gleichen margins */

    .searchbarSelect {
      width: 100px;
    }

    .searchbarLabel {
      visibility: hidden; 
      width: 0px;
    }

    .searchbarInput {
      /* background-color: #FE0300; */
      width: 20px;
      height: 24px;
      position: relative;
    }

    button {
      border-radius: 50%;
      aspect-ratio: 1;
    }
  }
}
