.searchbar {
  --width: 1000px;
  --height: 50px;
  min-width: 800px; /* Hier wird die minimale Breite festgelegt */
  border-radius: 8px;
  border: solid white 1px;
  background-color: #fe0300;
  width: var(--width);
  height: var(--height);
  position: absolute;
  top: calc(var(--height) / -2);
  left: calc(50vw - var(--width) / 2);
}

.searchbarForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.3em;

  button {
    padding: 0.4em;
    margin-left: 8px;
    border-radius: 50%;
    aspect-ratio: 1;
  }

  label {
    margin-left: 8px;
  }
  input {
    height: 100%;
    margin-left: 8px;
  }
  select {
    margin-left: 8px;
  }
}

@media (max-width: 768px) {
  .searchbar {
    width: 90vw; /* Changed from max-width: 20vw */
    min-width: unset; /* entfernt min width */
    left: 5vw; /* Center searchbar mit gleichen margins */

    .searchbarSelect {
      width: 100px;
    }

    .searchbarLabel {
      visibility: hidden;
      width: 0px;
    }

    .searchbarInput {
      /* background-color: #FE0300; */
      width: 20px;
      height: 24px;
      position: relative;
    }

    button {
      border-radius: 50%;
      aspect-ratio: 1;
    }
  }
}


