.main {
  position: relative;
  width: 100%;
  flex-grow: 1;
  background: var(--gradient-circle), url('../../assets/images/HG-Holzwand.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0 10px 10px black;
}
