.cardContainer_special {
  position: relative;
}
.contactLinkContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 0.2rem;
  padding: 0.2rem;
  align-self: start;
}
@media (max-width: 600px) {
  .contactLinkContainer {
    align-self: end;
  }
}
.contactLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 2rem;
  aspect-ratio: 1;
}
.icon {
  color: var(--color-light);
  width: 1.2rem;
}
.cancelledContainer {
  position: absolute;
  bottom: 0.4rem;
  right: 0.6rem;
  background-color: crimson;
  padding: 0.2rem;
  border-radius: 4px;
}
