/* ------------------ Globale Scrollbar-Styling für WebKit-Browser (Chrome, Edge, Safari, Firefox) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #444, #222); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #555, #333);
}

/* Scrollbar für Firefox */
* {
  scrollbar-width: thin; 
  scrollbar-color: #444 #1e1e1e; 
}

/* ----------------------button effect */
.buttonEffect {
  position: relative;
  overflow: hidden;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
  &:after {
    background: white;
    content: '';
    width: 50px;
    height: 150px;
    left: -80px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 0.25s ease-in-out;
  }
  &:hover:after {
    left: 120%;
  }
}
/* ---------------------------h1 spooky effect */
.headingEffectContainer {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  min-height: 4rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headingEffect {
  text-shadow: 6px 6px 3px black;
  width: 100%;
  color: var(--color-light);
  font-family: var(--font-headline);
  font-weight: normal;
  /* text-transform: uppercase; */
  letter-spacing: 0.5rem;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  filter: blur(4px);
  animation: horror-animation 1s ease-out forwards;
}
/* ---------------- global styles for account content */
.accountContainer {
  margin: 1rem;
  --wrapWidth: 600px;
  --wrapMargin: 1rem auto 2rem;
}
/* wrapper for listings-content and profile-contant */
.accountWrapper {
  max-width: var(--wrapWidth);
  margin: var(--wrapMargin);
}
/* account: messages like "no bookings yet", "you don't have any listings yet, create one" */
.messageContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.message {
  color: white;
  text-align: center;
}
.messageLink {
  color: white;
}
/* -------------------global styles for updateListing, createListing and edit profile forms */
input::file-selector-button {
  cursor: pointer;
}

.formWrapper {
  /* max-width: 600px;
  margin: 1rem auto 2rem; */
  max-width: var(--wrapWidth);
  margin: var(--wrapMargin);
}
.accountForm {
  width: 100%;
  --gap: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  background-color: #111111bd;
  border: 1px solid var(--color-mediumDark);
  padding: 1.6rem;
  border-radius: 5px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: relative;

  input, select, textarea {
    accent-color: var(--color-secondary);
    color: var(--color-light);
    background-color: var(--color-dark);
    border: 1px solid var(--color-mediumDark);
    border-radius: 6px;
    padding: 0.3rem;
    transition: all 0.3s ease;

    &:focus {
      border-color: crimson;
      box-shadow: 0 0 6px crimson;
      outline: none;
    }
  }
}
@-moz-document url-prefix() {
  .inputContainer > input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
  }
}
.inputContainer > input[type='number']::-webkit-inner-spin-button,
.inputContainer > input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (min-width: 600px) {
  .featureList {
    column-count: 2;
    column-gap: 1.6rem;
  }
}
.featureListItem {
  display: flex;
  gap: 0.4rem;
}
.inputError {
  position: absolute;
  top: 3.4rem;
  font-size: 0.9rem;
  color: rgb(231, 82, 112);
}
.inputContainer textarea ~ .inputError {
  top: unset;
  bottom: -1.5rem;
}
.inputRow {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
@media screen and (min-width: 481px) {
  .inputRow {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
  .inputRow > .inputContainer {
    flex: 50% 0 1;
  }
}
.formFooter {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}
.formFooter > .cancelButton,
.formFooter > .saveButton {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: none;
}
.formFooter > .cancelButton {
  background-color: black;
  color: white;
}
.formFooter > .saveButton {
  background-color: crimson;
  color: white;
}

/* ---------------global styles for list which contain cards (Listings, BookedListings, Bookings) */
.cardList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* --------------global styles for horizontal Cards in Account Components and Map Popup*/
.cardContainer {
  position: relative;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: #111;
    .ghost {
      animation: floatSide 6s ease-in-out infinite;
    }
  }
}
@media (max-width: 600px) {
  .cardContainer {
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  .imgContainer {
    max-width: 100%;
  }
  .cardImage {
    width: 100%;
  }
}
.cardLink {
  text-decoration: none;
}
.imgContainer {
  max-width: 200px;
  position: relative;
}
.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 600px) {
  .imgContainer {
    max-width: 100%;
  }
}
.imgContainer.col {
  max-width: 100%;
}
/* cancelled-label */
.cancelledContainer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.701);
}
.cancelledSpan {
  position: absolute;
  top: 0.4rem;
  left: 0.6rem;
  background-color: rgb(0, 0, 0);
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
  color: #ccc;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.infoContainer {
  position: relative;
  color: var(--color-light);
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.infoHeader {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.cardTitle {
  font-size: 1.2rem;
  margin-right: 3.2rem;
}
.cardCity {
  display: block;
  font-size: 1rem;
  color: var(--color-medium);
}
.infoBody {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: auto;
  font-size: 0.8rem;
}
.cardRating {
  color: orange;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.cardRatingEnd {
  align-self: flex-end;
}
.ghost {
  width: 16px;
}
/* .cardBedrooms, .cardPricePerNight */
.cardAvailability {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* sepcial Card Styling for cards with buttons, labels and feedback */
.cardButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 0.8rem;
  align-self: start;
}
@media (max-width: 600px) {
  .cardButtonContainer {
    align-self: end;
  }
}
.cardButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 1.8rem;
  aspect-ratio: 1;
  .buttonIcon {
    color: var(--color-light);
    width: 1.2rem;
  }
  /* &:hover .buttonIcon {
    color: crimson;
  } */
}
.infoFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bookingCancelButton {
  padding: 0.2rem 0.4rem;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: darkred;
  }
}
.givenFeedback {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.8rem;
}
.feedbackCheck {
  width: 1rem;
}

/* -----------------------------------override leaflet styles */
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper {
  /* flex-direction: column; */
  background: #222 !important;
  max-width: 300px;
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 250px;
  max-width: 300px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
  flex-direction: column;
}
.leaflet-popup-tip-container .leaflet-popup-tip {
  background: #222 !important;
  border: 1px solid #444;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
/* zoom controls */
.leaflet-control-container .leaflet-control-zoom a {
  background-color: #212121;
  color: rgb(182, 182, 182);
}
.leaflet-control-container .leaflet-control-zoom a:hover,
.leaflet-control-container .leaflet-control-zoom a:focus {
  background-color: #212121;
  color: white;
}
.leaflet-control-container .leaflet-bottom.leaflet-right .leaflet-control-zoom {
  border: 2px solid rgb(81, 81, 81);
}
.leaflet-control-container a.leaflet-control-zoom-in {
  border-bottom: 1px solid rgb(81, 81, 81);
}
/* credits */
.leaflet-container .leaflet-control-container .leaflet-control-attribution {
  background: #212121;
  color: rgb(122, 122, 122);
}
.leaflet-control-container .leaflet-control-attribution a {
  color: rgb(182, 182, 182);
}
.leaflet-control-container .leaflet-control-attribution a:hover {
  text-decoration: none;
  color: white;
}
/* --------------------------------------------------animation frames */
/* rating ghost floating */
@keyframes floatSide {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-5px) translateY(2px);
  }
  50% {
    transform: translateX(0) translateY(0);
  }
  75% {
    transform: translateX(5px) translateY(2px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
/* h1 heading Effect */
@keyframes horror-animation {
  0% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    left: 51%;
    top: 50%;
    opacity: 0.3;
    filter: blur(8px);
  }
  20% {
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.4);
    left: 49.5%;
    top: 50%;
    opacity: 0.5;
    filter: blur(6px);
  }
  40% {
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
    left: 50.5%;
    top: 50%;
    opacity: 0.7;
    filter: blur(4px);
  }
  60% {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    left: 49.8%;
    top: 50%;
    opacity: 0.8;
    filter: blur(3px);
  }
  80% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.9);
    left: 50.2%;
    top: 50%;
    opacity: 0.9;
    filter: blur(2px);
  }
  100% {
    left: 50%;
    top: 50%;
    opacity: 1;
    filter: none;
    color: rgba(255, 255, 255, 1);
  }
}
