.dropdown {
  position: relative;
  display: inline-block;

  .dropdown_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    list-style: none;
    color: var(--color-light);
    background: linear-gradient(135deg, #2c2c2c, #000000);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
  }

  &:hover .dropdown_menu {
    opacity: 1;
    transform: scaleY(1);
  }

  .dropdown_icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 8px #434343;
      transform: scale(1.1);
    }
  }

  .dropdown_icon_red {
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover,
    &:active {
      animation: heartbeat 2s infinite;
    }
  }
}

.dropdown_link {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-light);
  border-radius: 6px;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: #ff0037;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
  }
}

.logout {
  all: unset;
  width: fit-content;
  font-size: 15px;
  font-weight: 600;
  padding: 12px 24px;
  color: #f0f0f0;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: #ff0037;
  }
}

.admin_link {
  color: var(--color-secondary);
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.5), 0 6px 6px black;
  }
  5% {
    transform: scale(1.25);
    box-shadow: 0 0 20px rgba(255, 0, 0, 1), 0 10px 20px black;
  }
  10% {
    transform: scale(1.1);
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.8), 0 6px 6px black;
  }
  15% {
    transform: scale(1.15);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.9), 0 6px 6px black;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.5), 0 6px 6px black;
  }
}
