.accountContainer {
  display: flex;
  justify-content: center;
}

/* global styles for updateListing and createListing forms */

.listingForm {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: rgb(34, 34, 34);
  padding: 1.6rem;
  border-radius: 5px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: relative;
}
@-moz-document url-prefix() {
  .inputContainer > input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
  }
}
.inputContainer > input[type='number']::-webkit-inner-spin-button,
.inputContainer > input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (min-width: 600px) {
  .featureList {
    column-count: 2;
    column-gap: 1.6rem;
  }
}
.featureListItem {
  display: flex;
  gap: 0.4rem;
}
.inputError {
  position: absolute;
  bottom: -1.4rem;
  font-size: 0.9rem;
  color: rgb(231, 82, 112);
}
.formFooter {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}
.formFooter > .cancelButton,
.formFooter > .saveButton {
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: none;
}
.formFooter > .cancelButton {
  background-color: black;
  color: white;
}
.formFooter > .saveButton {
  background-color: crimson;
  color: white;
}
