header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  .top_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }
}

.title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: clamp(16px, 1.5vw, 24px);
    font-family: var(--font-typewriter);
    color: var(--color-light);
    opacity: 0.7;
    margin: 0.5rem;
  }
}

.h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: var(--font-title);
  letter-spacing: 1.2rem;
  color: var(--color-prime);
  text-shadow: 0px 0px 10px white;
  padding-left: 1rem;
  transition: all 0.6s ease;

  &:hover {
    text-shadow: 0px 0px 10px white, 0px 0px 10px white;
  }
}

.bigHeader {
  height: 20rem;
  background: var(--gradient-circle), url('../../../assets/images/Scarebnb-header-img_2.jpeg') no-repeat center
  center / cover;
}

.smallHeader {
  height: 10rem;
  background: var(--gradient-circle), url('../../../assets/images/Scarebnb-header-img_2.jpeg') no-repeat center
  center / cover;


  .h1 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    letter-spacing: 0.5rem;
    padding: 1rem;
  }
}

.headerBorder {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}


@media (max-width: 768px) {
  .bigHeader {
    height: 18rem;
  }
}